<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>  
    <main class="centered">
        <h1><%= book.title %></h1>
        <hr>
        <div class="image">
            <img src="<%= book.bookcover %>" alt="<%= book.title %>">
        </div>
    </main>
<%- include('../includes/end.ejs') %>