<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/book.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (boks.length > 0) { %>
            <div class="grid">
                <% for (let book of boks) { %>
                    <article class="card book-item">
                        <header class="card__header">
                            <h1 class="book__title"><%= book.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= book.bookcover %>" 
                                alt="<%= book.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="book__category"><%= book.category %></h2>
                            <p class="book__description"><%= book.description %></p>
                            <h3 class="book__author"><%= book.author %></h3>
                            <h3 class="book__publication_date"><%= book.publication_date %></h3>
                        </div>
                        <div class="card__actions">
                            <a href="/category/<%= book.id %>" class="btn">Details</a>
                        </div> 
                    </article>
                <% } %>
            </div>
        <% } else {%>
            <h1>No Book Found!</h1>
        <% } %>
    </main>   
<%- include('../includes/end.ejs') %>